html,
body,
.page.wrap,
article > header {
	min-height: 100%;
}

body {
	margin: 0;
	padding: 32px 0 0;
	font-family: "Source Sans Pro", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 900;
}

a {
	color: $color_blacked;
	text-decoration: none;
}

strong {
	font-weight: 700;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body.home.page .wrap.page {
	padding-top: 1px;
}

.wrap {
	width: 90%;
	position: relative;
	margin: 0 auto;
	&.page {
		width: 100%;
		min-height: 100vh;
		background: #fff;
		z-index: 100;
		margin: 0 auto 300px;
		padding: 0 0 80px;
		box-shadow: 0 0 25px 0 rgba(0, 0, 0, .9);
	}
}
