footer.content-info {
	position: relative;
	z-index: 50;
	background: #fff;
	width: 100%;
	@include clearfix;
	.wrap {
		max-width: 1000px;
		border-top: 1px solid #000;
		@include clearfix;
		padding: 0 25px;
	}
	section.widget {
		padding: 20px 0;
		float: left;
		@media(max-width: 400px){
			width: 100%;
			float: none;
			text-align: center;
			padding: 10px 0 0;
		}
		/*font-family: 'Libre Baskerville', serif;*/
		p {
			margin: 0;
		}
	}
	ul {
		padding: 20px 0;
		margin: 0;
		float: right;
		font-size: 0;
		@media(max-width: 400px){
			width: 100%;
			float: none;
			text-align: center;
		}
		li {
			font-size: 16px;
			display: inline-block;
			a {
				color: #000;
				text-decoration: none;
				@include transition(all .4s linear);
				&:hover {
					color: $color-green;
				}
			}
			& + li {
				margin-left: 15px;
			}
		}
	}
}
